<ion-header [translucent]="true">
  <ion-toolbar style="--ion-background-color: linear-gradient(50deg,#5D8736, #809D3C); --ion-text-color: white">
    <ion-title>
      Sugerencias de Reciclaje
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card class="ion-padding-bottom ion-margin-bottom">

    <ion-card-header>
      <ion-card-title>Comparte tu sugerencia</ion-card-title>
    </ion-card-header>

    <ion-card-content class="ion-text-center">

      <form [formGroup]="suggestionForm" (ngSubmit)="onSubmitSuggestion()">
        

        <!-- Campo de calificación -->
        <ion-select formControlName="rating" label="Material" placeholder="Selecciona un Material">
          <ion-select-option value="Plastico">Plastico</ion-select-option>
          <ion-select-option value="Papel">Papel</ion-select-option>
          <ion-select-option value="Metal">Metal</ion-select-option>
          <ion-select-option value="Residuos Organicos">Residuos Organicos</ion-select-option>
        </ion-select>

        <!-- Campo de sugerencia -->
        <ion-textarea formControlName="suggestion" label="Sugerencia" placeholder="Escribe aquí tu sugerencia"></ion-textarea>
        
        <!-- Botón de envío -->
        <ion-button type="submit" [disabled]="!suggestionForm.valid">Enviar</ion-button>

      </form>

    </ion-card-content>
  </ion-card>

  <ion-card class="ion-padding-bottom ion-margin-bottom">

    <ion-card-header>
      <ion-card-title>Sugerencias de la Comunidad</ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <ion-list>
        <!-- CARGA DE DATOS - INICIO -->
        @for (suggestion of suggestionsList; track $index) {
          <ion-item>
            <ion-label>
              <div><strong>Material:</strong> {{ suggestion?.rating }}</div>
              <div><strong>Sugerencia:</strong> {{ suggestion?.text }}</div>
            </ion-label>
          </ion-item>
        }
        <!-- CARGA DE DATOS - FIN -->
      </ion-list>

    </ion-card-content>
  </ion-card>

</ion-content>
