<ion-header [translucent]="true">
  <ion-toolbar style="--ion-background-color: linear-gradient(50deg,#5D8736, #809D3C);--ion-text-color: white">
    <ion-title >EcoSort 🌍♻️</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" >
  <ion-header collapse="condense">
    <ion-toolbar >
      <ion-title size="large" >EcoSort 🌍♻️</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- CARGA DE IMAGEN -->
  <ion-card *ngIf="imageReady()" >
    <img #image [src]="imageUrl()" alt="Imagen seleccionada" />

    <!-- Botón Predecir -->
    <div *ngIf="modelLoaded()" class="ion-text-center ion-padding-top ion-padding-bottom">
      <ion-button fill="outline" (click)="predict()">Sort</ion-button>
    </div>

    <!-- Lista de predicciones -->
    <ion-list>
      <ion-item *ngFor="let item of predictions; let i = index">
        <ion-label>
          <div>{{ item?.className }}: {{ item?.probability | percent }}</div>
          <div class="recommendation">{{ getRecommendation(item?.className) }}</div>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>

  <!-- INPUT OCULTO -->
  <input
    #fileInput
    type="file"
    accept="image/*"
    (change)="onFileSelected($event)"
    hidden
  />

  <!-- BOTÓN FAB -->
  <ion-fab slot="fixed" vertical="bottom" horizontal="center">
    <ion-fab-button (click)="fileInput.click()">
      <ion-icon name="cloud-upload-outline" ></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>