<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Acerca de
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-card>
    <ion-card-header>

      <ion-card-title class="titulo">Descripción</ion-card-title>

    </ion-card-header>

    <ion-card-content>
      <p id="descripcion">
        Clasificador de Residuos es una aplicación móvil desarrollada en Ionic que promueve el reciclaje y la gestión adecuada de residuos. Los usuarios pueden tomar fotos de desechos, y la app utiliza reconocimiento de imágenes para clasificarlos en categorías como plástico, papel u orgánico. Además, ofrece información útil sobre su correcta disposición y localiza puntos de reciclaje cercanos. Su objetivo es fomentar prácticas sostenibles y la conciencia ambiental.
         Utiliza tecnologías web como HTML, CSS y JavaScript, lo
        que facilita la reutilización de código y la implementación rápida.
      </p>
    </ion-card-content>

  </ion-card>

</ion-content>